/* CSS Stylesheet - TBL_LIB_REFRIGERATORS Detail View*/
fieldset {
	border: 1px solid black;
	margin:	6px;
	padding: 4px;
}

fieldset > p {
	padding: 2px;
	margin: 2px;
}

div {
	margin-bottom: 10px;
}

div > p {
	padding: 0px;
	margin: 2px;
}

#picture {
	text-align: center;
}